@model ESchool.Models.marhala

@{
    ViewBag.Title = "Details";
}

<h2>تفاصيل</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="form-control">
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id },new {@class = "btn btn-primary" }) |
    @Html.ActionLink("عودة للقائمة", "Index",null, new { @class = "btn btn-primary" })
</p>
